<form class="cadastroUsuario">
    <div class="form-group">
        <select name="especialidade" class="form-control" placeholder="Especialidade" aria-label="Especialidade"></select>
    </div>
    <div class="form-group">
        <select name="medico" class="form-control" placeholder="Médico" aria-label="Médico"></select>
    </div>
    <div class="form-group">
        <select name="data" class="form-control" placeholder="Data" aria-label="Data"></select>
    </div>
    <div class="form-group">
        <select name="hora" class="form-control" placeholder="Hora" aria-label="Hora"></select>
    </div>
    <div class="form-group cadastroUsuario__actionsButton">
        <button class="btn btn-link">Cancelar</button>
        <button class="btn btn-primary">Confirmar</button>
    </div>
</form>