<form class="cadastroConsulta">
    <div class="form-group floating-label">
        <especialidade-select #especialidade></especialidade-select>
    </div>
    <div class="form-group">
        <medico-select #medico [especialidade]="especialidade.getSelectedValue()"></medico-select>
    </div>
    <div class="form-group">
        <agenda-select #agenda [medico]="medico.getSelectedValue()" [especialidade]="especialidade.getSelectedValue()"></agenda-select>
    </div>
    <div class="form-group cadastroConsulta__actionsButton">
        <button class="btn btn-link" type="button" routerLink="/consultas">Cancelar</button>
        <button class="btn btn-primary" type="button" (click)="cadastrarConsulta()">Confirmar</button>
    </div>
</form>