table thead tr th,
table tbody tr td {
    border: 0px !important;
    font-family: Roboto;
    line-height: 37px;
    padding: 0px;
    padding-left: 10px;
}

table thead tr th {
    font-weight: bold;
    color: #A8A8A8;
    text-transform: uppercase;
}