<table class="table table-sm table-striped">
    <thead>
        <tr>
            <th>Especialidade</th>
            <th>Profissional</th>
            <th>Data</th>
            <th>Hora</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cardiologia</td>
            <td>Dr Caio de Castro</td>
            <td>01/02/2020</td>
            <td>11:00</td>
            <td>
                <div>
                    <button class="btn"><i class="fa fa-times"></i></button>
                    <button class="btn btn-primary btn-link">Cadastrar</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>