{% load static %}

{% if current_theme %}
  {% if error %}
  {% endif %}
  <style>
    {% if logout_bg %}
      .side-bar {background-image: url('{% static 'comomo/images/background_login.png' %}')
    {% else %}
      .side-bar {background-image: url('{% static 'comomo/images/background_login.png' %}'); }
    {% endif %}
  </style>
{% else %}
  {% if error %}
    <img src="{% static 'material/images/error.jpg' %}" alt="">
  {% else %}
    {% if login_logo %}
      <img src="{{ login_logo }}" alt="Logo">
    {% else %}
      <img src="{% static 'material/admin/images/login-logo.jpg' %}" alt="">
    {% endif %}
  {% endif %}
{% endif %}