<form class="userLogin">
    <div class="form-group">
        <input #username type="text" class="form-control" aria-label="Email" placeholder="Email">
    </div>
    <div class="form-group">
        <input #password type="text" class="form-control" aria-label="Senha" placeholder="Senha">
    </div>
    <div class="custom-control custom-checkbox my-1 mr-sm-2">
        <input type="checkbox" class="custom-control-input" id="customControlInline">
        <label class="custom-control-label" for="customControlInline">Lembrar minha senha</label>
    </div>
    <div class="form-group userLogin__actionsButton">
        <button class="btn btn-link" type="button" routerLink="/cadastro">Criar conta</button>
        <button class="btn btn-primary" (click)="login(username.value, password.value)" type="button">Acessar</button>
    </div>
</form>