.consultaCadastro {
    width: 400px;
    &__title {
        display: block;
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 40px;
    }
    &__actionsButton {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        width: 100%;
        button {
            border-radius: 8px;
            width: 180px;
            font-weight: bold;
        }
    }
}