<div class="container">
    <top-bar></top-bar>
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <span>Consultas</span>
                <button class="btn btn-primary" type="button" (click)="novaConsulta()">
                    <span class="btn-label"><i class="fa fa-camera"></i></span>
                    Cadastrar
                </button>
            </div>
            <consulta-lista></consulta-lista>
        </div>
    </div>
</div>