.pageListagemConsulta {
    &__title {
        color: #444444;
        font-size: 21px;
        font-weight: bold;
    }
    &__cadastrar {
        height: 27px;
        padding: 1px 20px 1px 0px;
        & span i {
            margin: 0px 12px;
        }
    }
}