div.breadcrumbs {
    background: #79aec8;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #000 !important;
    text-align: left;
}

div.breadcrumbs a {
    color: #000;
}

div.breadcrumbs a:focus,
div.breadcrumbs a:hover {
    color: #c4dce8;
}